html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar {
    background-color: azure;
    font-family: fantasy;
}

.nav-link {
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
}

.text-center {
    font-family: fantasy;
    font-size: large;
    background-color: azure;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    /*    position: relative;*/
    /*    min-height: 100%;*/


    
}

body {
    background-image: url("https://i0.wp.com/media.giphy.com/media/R1DUhPHF3GBXy/giphy.gif");
}

h1 {
    text-align: center;
    font-family: fantasy;
    text-decoration: underline;
}

h2{
    font-family:fantasy;
    text-align:center;
   color:orangered;
}

ul {
    list-style: none;
    text-decoration-line: underline;
    align-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
   
}



li {
    background-color: aliceblue;
}

.img-size {
    display: contents;
    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
    border-block-start-color: darkred;
    border-block-end-color: azure;
    justify-content: space-around;
    font-family: fantasy;
    font-size: 14px;
    font-weight: bold;
    
}

    .img-size:hover > :not(:hover) {
        opacity: .2;
      
    }


.img {
    overflow: hidden;
    cursor: pointer;
   
}


.img, ul :hover {
    overflow: hidden;
    background-color: aliceblue;
    
}



.next-button {
    color: orangered;
    font-family: fantasy;
    font-size: 20px;
    background-color: lavenderblush;
    display: flex;
    justify-content: space-between;
}

    .next-button :hover {
        font-family: fantasy;
        font-size: xx-large;
        
        color: lavenderblush;
        background-color: black;
    }
